:root {
    .verifyemail-page {
      img {
        max-width: 85%;
      }
      .mvh-100 {
        min-height: 100vh;
      }
      .bg-signup {
        background-image: url(../../../Assets/Images/Auth/fogot-box.svg);
        background-size: contain;
        height: 651px;
        width: 428px;
        padding: 2.5rem !important;
      }
      .left-girl {
        margin-left: -118px;
      }
      .forgot-link {
        padding-top: 6rem;
        color: var(--white);
        font-size: 22px;
      }
      .auth-page .auth-form-box h2 {
        margin-bottom: 0px;
      }
      .authform {
        margin: auto 0;
        display: flex;
        align-items: center;
      }
      .verify-email {
        input {
          text-align: center;
          font-size: 42px !important;
          height: 70px !important;
        }
      }
    }
  }
  